/*remove browser styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 80px;
  height: 20px;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
}
header {
  background-color: aqua;
}
.header-content {
  width: 95%;
  /* height: 100px;*/
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  margin-left: 20px;
  padding-left: 30px;
}
